.heads{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 2rem;
    padding-top: 5px;
    font-family: poppins;
    margin-right: .2rem;
}
.break{
    color: blue;
    font-weight: bold;

}
.bg{
    background-color: #F0EEFF;
    height: 13vh;
}
.studenthead{
    padding: 20px;
    padding-left: 260px;
}

.year1{
    margin-left: 300px;
    border-radius: 16px;
    width: 15vh;
    height: 6vh;
}
.year2{
    margin-left: 40px;
    border-radius: 16px;
    width: 15vh;
    height: 6vh
}
.year3{
    margin-left: 40px;
    border-radius: 16px;
    width: 15vh;
    height: 6vh
}
.year4{
    margin-left: 40px;
    border-radius: 16px;
    width: 15vh;
    height: 6vh;
}
.datacard{
    margin-left: 240px;
    margin-top: 10px;
    background-color: #F0EEFF;
    width: 700px;
    height: 400px;
}
.Card{
    background-color: #F0EEFF;
    margin: 60px;
    height: 75vh;
    width: 45vh;
    border-radius: 12px;
}
.sem1{
    margin-top: 12px;
    margin-left: 160px;
    border-radius: 12px;
    background-color: white; 
    color: black; 
    border: 2px solid #5843F8;
}
.sem1:hover{
    background-color:#5843F8;
    color: white;
}
.sem2{
    margin-top: 12px;
    margin-left: 10px;
    border-radius: 12px;
    background-color: white; 
    color: black; 
    border: 2px solid #5843F8;
}
.sem2:hover{
    background-color:#5843F8;
    color: white;
}
.internal{
    font-size: 16px;
    padding: 9px;
    margin-left: 40px;
}
.attend{
    font-size: 16px;
    padding: 9px;
    margin-left: 40px;
    padding-top: 10px;
}
.external{
    font-size: 16px;
    padding: 9px;
    margin-left: 40px;

}
.reg{
    font-size: small;
    color: rgb(13, 15, 16);
    font-family: 'Lucida Sans';
    margin-top: 20px;
}
.cousre1{
    font-size: small;
    color: rgb(13, 15, 16);
    font-family: 'Lucida Sans';
   

}
.top-image{
    padding: 70px;
}
.details{
    padding:20px;
    padding-top: 40px;
}
.info{
    padding-top: 10px;
}
.line{
    margin-left: 30px;
}
.photo{
    margin-left: 10px;
}
.button1{
    background-color: white; 
  color: black; 
  border: 2px solid #5843F8;
}
.button1:hover{
    background-color:blue;
  color: white;
}