
.container {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-left: 250px;
    background-color:  #F0EEFF; /* Matching the box with the background color */
}

.th, td {
    padding: 12px 15px;
    
    text-align: center;
    font-weight: 400;
}

.th {
    background-color: #F0EEFF; /* Matching header with background */
    color: #333;
    font-weight: bold;
    text-decoration: underline;
    position: sticky;
    top: 0;
    z-index: 1;
}

.td {
    background-color: #F0EEFF; /* Matching data cells with background */
    text-align: center;
}

.scroll-container {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #F0EEFF;
    margin-top: 10px;
    background-color: #F0EEFF; /* Matching scroll box background */
}

.status {
    text-align: center;
}