.heads {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 2rem;
    font-family: poppins;
    margin-right: .2rem;
}
.login-box {
    background-color: F0EEFF;
    padding: 2rem;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
}

.input[type="password"], input[type="password"] {
    height: 36px;
    margin: 5px;
    width: 500px;
    border-radius: 16px;
    border-width: 0cap;
    font-size: 1rem;
    margin-bottom: 1rem;   
}
.username {

    height: 36px;
    margin: 5px;
    width: 500px;
    border-radius: 16px;
    border-width: 0cap;
    font-size: 1rem;
    margin-bottom: 1rem; 
}
.bg{
    background-color: #F0EEFF;
}
.break{
    color: blue;
    font-weight: bold;

}